

.navbar {
	background-color: #000000;
	align-content: center;

}


body {
	/*  This file was not found tc 10/29 */
	/*background-image: url("assets/images/tweed_@2X.png");*/
	background-image: url("./../images/wine.jpg");
}

h1 {
	color: #888888;
	font-family: 'Playfair Display', serif;


}

.container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.rowspace {
		flex: 1;
}



h3 {
	font-family: 'Muli', sans-serif;
	padding: 10px;
	padding-top: 30px;
	color: #4b0c09;
}

.nav-tabs {
	background: #000000;
}

.map {
    width: 450px;
    margin-right: 0 auto;
    height: 1000px;
/*    background-size: cover;
*/    margin: 0 auto;

	/*  This file was not found tc 10/29 */
    /*background-image: url("assets/images/californiawinemap.gif")*/


}



.sidebar {
	background-color: #444444;
}


.col-md-5 {
	background: #eedea3;
	margin-left: 0 auto;
	width: 465px;
	height: 1025px;

}


.col-md-4 {
	background: #d6cece;
	margin-left: 0 auto;
	height: 0 auto;
}

.card-title {
	font-size: 18px;
}

.space {
	margin-top: 20px;
}

.title {
	margin-left: 450px;
}

.footer {
	background-color: #000;
}

.eventImage {
	width: 200px;


}
